# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages

requests==2.32.3
python-dotenv==1.0.1
pydantic==2.9.1

duckdb==1.1.3
airflow-provider-duckdb==0.2.0
astro-sdk-python[duckdb]==1.8.1
apache-airflow-providers-postgres==5.13.1